.card-container{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containere-form{
  display: flex;
  justify-content: center;
}
