// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



body {
  font-family: 'cursive';
  background-color: #F5F5F5;
  color: black;
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  color: #664f24;
  font-size: 2.5rem;
  margin-top: 40px;
}

.banniere{
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4F5BbKRqx31RN2cNRKqw8WkB8o9VcKbBXkQ&s);
  background-size: cover;
  background-position: center;
}
